<!DOCTYPE html>
<html>
<head>
    <title>Document Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-3">
        <h1> The Document is looking well formated. Kindly send it to Graduate School Office for further process</h1>
        <a class="btn btn-primary" href="{{ url_for('hello_one') }}">Go to Main Page</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>